body {
    background-color: #eee;
}

input#inputFile[type="file"] {
    display: none;
}

.custom-btn-file {
    border: 1px solid #ccc;
    padding: 80px;
    cursor: pointer;
    text-align: center;
    display: block;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    background: whitesmoke;
}

.custom-btn-file:hover {
    background-color: #e8e8e8;
}

.custom-btn-file i {
    font-size: 35px;
}

.header-navbar {
    border: 1px solid rgba(0,0,0,.125);
    border-width: 0 1px 0;
}

.header-breadcrumb {
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0 0 4px 4px;
    border-top-style: dashed;
}
